/* GENERAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-stack;
  background-color: #fbf4ea;
  background-image:url("../img/body-bg.jpg"), url("../img/body-bg-bottom.jpg") ;
  background-repeat: no-repeat;
  background-position: top center, bottom center;
}

img {
  max-width: 100%;
  height: auto;
}


p,h1,h2,h3,h4,h5,ul{
  padding: 0 !important;
  margin: 0 !important;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

