// COLORS
$color-primary: #fff;
$input-bg: #f4f4f4;
$texts-color: #000;
$color-general: #f6a879;
$color-only-texts: #0a472e;

// Container
$width-container: 1320px;
$p-container: 15px;

// FONTS
$font-stack: "Mazzard H";
$rich-mond: 'Greatest Richmond Alternate Two', sans-serif;
