.drow-down {
    position:absolute;
    width: 185px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 3px 5px 0 rgb(184, 183, 183);
    visibility: hidden;
    opacity: 0;
    transform: translate(0,10px);
    transition: all 0.3s ease;
    z-index: 100;

    &__link {
        text-decoration: none;
        display: block;
        padding: 0 !important;
        color: $texts-color;
        padding:3px 0 !important;
        font-size: 14px;

        &::before{
            display: none;
        }

        &:hover{
            color: $color-general;
        }
    }
}


@media screen and (max-width:992px) {
    .drow-down{
        display: none;
    }
}